/* font weight:100, 400 and 900 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 2% 8%;
}

/* Navbar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-color {
  background-color: #9c51e0;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat-light", sans-serif;
  margin-left: 3rem;
}

/* Section Title */

#title {
  background-color: #9c51e0;
  color: #fff;
}
.iphone-dog {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

/* features */

#features {
  padding: 5% 0;
  background-color: #fff;
  position: relative;
}

#features h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

#features p {
  color: #8f8f8f;
}
.icon-features {
  padding-bottom: 5%;
  color: #9c51e0;
  font-size: 2rem;
}
.icon-features:hover {
  color: #fa4eab;
  font-size: 2rem;
}

/* testimonials */

#testimonials {
  text-align: center;
  background-color: #9c51e0;
  color: #fff;
  padding: 5% 0;
}

.testimonials-img {
  width: 10%;
  min-width: 100px;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 0 15%;
}
/* press */

#press {
  background-color: #9c51e0;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  min-width: 150px;
  margin: 20px 15px 10px;
}

/* pricing */

#pricing {
  margin: 100px 0;
  text-align: center;
}

#pricing a {
  width: 100%;
}

.card-column {
  padding: 2%;
}
/* CTA */
#cta {
  background-color: #9c51e0;
  text-align: center;
  padding: 6% 0;
}
#cta h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color:#fff;
}

.cta-btn{
  margin: 4% 2% 0 2%;
}

/* footer */

#footer{
  padding: 50px 0;
  text-align:center;
}
.icon-footer{
  margin:20px 10px;
  font-size:2rem;
}
#footer a {
  color:rgb(41, 41, 41);
}
#footer a:hover {
  color:rgb(0, 0, 0);
}
/* ------------------------------------ */
/* ----------@MEDIA-------------------- */
@media screen and (max-width: 1127px) {
  .iphone-dog {
    width: 23%;
    transform: rotate(0deg);
    margin-left: 50px;
  }
}

@media screen and (max-width: 991px) {
  /* navbar */
  .nav-link {
    margin-left: 0rem;
  }

  /* title */
  #title {
    text-align: center;
  }
  #title h1{
    font-size:3rem;
  }
  .iphone-dog {
    width: 28%;
    min-width: 180px;
    position: static;
    margin-left: 0;
  }

  /* features */
  #features {
    position: static;
  }
}
